.shortcuts{
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.shortcuts:hover{
  background: #e3e3e3;
  cursor: pointer;
}

.shortcuts img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.left{
  width: 100%;
  height: 92vh;
  background: #f5f5f5;
}

.left::-webkit-scrollbar{
  width: 7px;
}

.left::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: #f5f5f5;
}

.left:hover::-webkit-scrollbar-thumb{
  background: #cccccc;
}

.left .img{
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.left .img:hover{
  background: #e3e3e3;
}

.left .img img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;

}

.left hr{
  width: 100%;
  height: 1px;
  border: 0;
  background: #cccccc;
  margin: 10px 0;
}

.left h2{
  font-size: 18px;
  color: #919191;
  margin: 5px 0;
}

.left .edit{
  color: #45abff;
  font-size: 15px;
  float: right;
  bottom: 23px;
  cursor: pointer;
  opacity: 0;
}

.left:hover .edit{
  opacity: 1;
}

.left .shortcuts{
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.left .shortcuts:hover{
  background: #e3e3e3;
  cursor: pointer;
}

.left .shortcuts img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;

}





.shortcuts:nth-child(odd) {
  background-color: #e0e0e0;
}


.notification-block {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  left: 10px;
  width: 200px;
}

.shortcuts {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 8px;
  transition: background 0.2s;
}

.shortcuts:hover {
  background: #e3e3e3;
  cursor: pointer;
}

.shortcuts img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-right: 10px;
}

.shortcuts p {
  margin: 0;
  color: #333;
}


.shortcuts:nth-child(odd) {
  background-color: #e0e0e0;
}

.profil {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profil a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: relative;
}

.profil a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4a90e2;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.profil a:hover {
  background-color: #1e87f0;
}

.profil a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}









