

<div class="left">

  <div (click)="redirectProfil()" class="img">
    <img src="assets/image/user.jpg" alt="">
    <ng-container *ngIf="profilService.Detail$() as profil">
            <p>{{profil.nom}}</p>
    </ng-container>
  </div>

  <div class="img">
    <img src="assets/image/friend.png">
    <p>Friends</p>
  </div>

  <div class="img">
    <img src="assets/image/messenger.png">
    <p>Messages</p>
  </div>

  <div class="img">
    <img src="assets/image/saved.png">
    <p>Saved</p>
  </div>

  <div class="img">
    <img src="assets/image/group.png">
    <p>Groups</p>
  </div>

  <div class="img">
    <img src="assets/image/marketplace.png">
    <p>Marketplace</p>
  </div>

  <div class="img">

    <img src="assets/image/watch.png">
    <p>Watch</p>
  </div>


  <div (click)="logOut()" class="img">
    <img src="assets/image/logout.png">
    <p>Logout</p>
  </div>
  <div class="img">
    <img src="assets/image/down_arrow.png">
    <p>See more</p>
  </div>

  <hr>

  <h2>Recent Activity</h2>

  <div class="notification-block">

    <ng-container *ngIf="commentaireService.lastComment$() as last">
    <div class="shortcuts">
      <p>Last comment : {{calculateTimeElapsed(last.date_du_commentaire)}}</p>
    </div>
    </ng-container>
    <ng-container *ngIf="likeService.lastLike$() as last">
    <div class="shortcuts">
      <p>Last like : {{calculateTimeElapsed(last.date_du_like)}}</p>
    </div>
    </ng-container>

    <ng-container *ngIf="publicationService.lastPost$() as last">
    <div class="shortcuts">
      <p>Last Post : {{calculateTimeElapsed(last.date_de_publication)}}</p>
    </div>
    </ng-container>
    <div class="profil" (click)="redirectProfil()">
      <a>Edit profil</a>
    </div>
  </div>








</div>
