

<div class="left">

  <div (click)="redirectProfil()" class="img">
    <img src="assets/image/user.jpg" alt="">
    <ng-container *ngIf="profilService.Detail$() as profil">
            <p>{{profil.nom}}</p>
    </ng-container>
  </div>

  <div class="img">
    <img src="assets/image/friend.png">
    <p>Friends</p>
  </div>

  <div class="img">
    <img src="assets/image/messenger.png">
    <p>Messages</p>
  </div>

  <div class="img">
    <img src="assets/image/saved.png">
    <p>Saved</p>
  </div>

  <div class="img">
    <img src="assets/image/group.png">
    <p>Groups</p>
  </div>

  <div class="img">
    <img src="assets/image/marketplace.png">
    <p>Marketplace</p>
  </div>

  <div class="img">

    <img src="assets/image/watch.png">
    <p>Watch</p>
  </div>


  <div (click)="logOut()" class="img">
    <img src="assets/image/logout.png">
    <p>Logout</p>
  </div>
  <div class="img">
    <img src="assets/image/down_arrow.png">
    <p>See more</p>
  </div>

  <hr>

  <h2>Recent Activity</h2>

  <div class="notification-block">

    <div class="shortcuts">
      <p>Commented on post</p>
    </div>

    <div class="shortcuts">
      <p>Posted: "Hello"</p>
    </div>

  </div>






</div>
