<app-homebar></app-homebar>
<section>
  <div id="contenu">

    <router-outlet></router-outlet>

  </div>
  <div class="main">
    <div class="left">
      <app-recent-activity></app-recent-activity>

    </div>
  <ng-container *ngIf="profilService.Detail$() as profil">
    <div class="center">
      <div class="profile-container">
        <h2>Profil</h2>
        <div id="user-info">
          <p>Nom: <span id="user-name">{{profil.nom}}</span></p>
          <p>Prénom: <span id="prenom">{{profil.prenom}}</span></p>
          <p>Email: <span id="user-email">{{profil.email}}</span></p>
          <p>Description: <span id="description">{{profil.description}}</span></p>
          <p>Statut: <span id="statut">{{profil.statut}}</span></p>
          <!-- Ajoutez d'autres informations selon vos besoins -->
        </div>


        <div id="edit-form" style="">
          <label for="name">Nom:</label>
          <input type="text" id="name" placeholder="Votre nom">

          <label for="prenom">Prénom:</label>
          <input type="text" id="prenomm" placeholder="Votre prénom">

          <label for="email">Email:</label>
          <input type="email" id="email" placeholder="Votre email">

          <label for="prenom">Description:</label>
          <input type="text" id="descriptionn" placeholder="Votre description">

          <label for="statut">Statut:</label>
          <input type="text" id="statutt" placeholder="Votre statut">
          <!-- Ajoutez d'autres champs de saisie selon vos besoins -->

          <button onclick="">Enregistrer</button>
        </div>
      </div>


    </div>
  </ng-container>

    <div class="right">
      <app-your-page></app-your-page>

    </div>
  </div>
</section>
