
<div class="container">
  <div class="my_post">


    <!--  -->
    <div class="container">
      <div class="my_post">

        <div class="post_top" [formGroup]="config.formGroup">
          <img src="assets/image/user.jpg" alt="User Image">

          <ng-container *ngFor="let field of config.fields">
          <input [type]="field.inputType" [formControl]='field.control' [placeholder]="field.placeHolder">
          </ng-container>
          <button (click)="save()">Post</button>


          <br>
        </div>
      </div>
    </div>


    <hr>

    <div class="post_bottom">

      <div class="post_icon">

        <i class="fa-solid fa-video red"><fa-icon [icon]="faVideo"></fa-icon></i>
        <p>Live video</p>
      </div>

      <div class="post_icon">
        <i class="fa-solid fa-images green"><fa-icon [icon]="faImage"></fa-icon></i>
        <p>Photo/video</p>
      </div>

      <div class="post_icon">
        <i class="fa-regular fa-face-grin yellow"><fa-icon [icon]="faFaceGrin"></fa-icon></i>
        <p>Feeling/activity</p>
      </div>

    </div>
  </div>
</div>


<ng-container *ngIf="profilService.Detail$() as profile">
  <span id="user-name">{{profile.credential_id}}</span>


</ng-container>

