<div class="right">

  <div class="first_warpper">

    <div class="page">

      <h2>Your Page</h2>
      <div class="menu">
        <i class="fa-solid fa-ellipsis"><fa-icon [icon]="faEllipsis"></fa-icon></i>
      </div>

    </div>

    <div class="page_img">
      <img src="assets/image/page.jpg">
      <p>My page</p>
    </div>

    <div class="page_icon">
      <i class=""><fa-icon [icon]="faBell"></fa-icon></i>
      <p>20 Notifications</p>
    </div>

    <ng-container *ngIf="publicationService.countPubli$() as count">
    <div class="page_icon">
      <i class=""><fa-icon [icon]="faNewspaper"></fa-icon></i>
      <p>Number of posts : {{count}}</p>
    </div>
    </ng-container>
    <ng-container *ngIf="likeService.countLikes$() as count">
      <div class="page_icon">
        <i class=""><fa-icon [icon]="faThumbsUp"></fa-icon></i>

        <p>Number of likes : {{count}}</p>
      </div>
    </ng-container>

    </div>

  </div>





  <hr>

  <div class="third_warpper">

    <div class="contact_tag">

      <h2>Contacts</h2>

      <div class="contact_icon">

        <i class="fa-solid fa-video"><fa-icon [icon]="faVideo"></fa-icon></i>
        <i class="fa-solid fa-magnifying-glass"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></i>
        <i class="fa-solid fa-ellipsis"><fa-icon [icon]="faEllipsis"></fa-icon></i>

      </div>

    </div>

    <div class="contact">

      <img src="assets/image/user.jpg">
      <p>Friend1</p>

    </div>

    <div class="contact">

      <img src="assets/image/user.jpg" alt="">
      <p>Friend1</p>

    </div>

    <div class="contact">

      <img src="assets/image/user.jpg">
      <p>Friend1</p>

    </div>

  </div>
