*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.mainn {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  background: #fff;
  width: 100%;
}

.center {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
  align-items: center;
}




.center i{
  margin: 0 45px 0 45px;
  font-size: 22px;
}

.center i:hover{
  color: #45abff;
  cursor: pointer;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right i{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #efefef;
  line-height: 35px;
  padding-left: 8px;
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
}

.right i:hover{
  color: #45abff;
  cursor: pointer;
}


.center i {
  font-size: 18px;
}

.right i, .right img {
  font-size: 16px;
}
.right img{
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-left: 8px;
  line-height: 45px;
  cursor: pointer;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden; /* Cache toute partie de l'image qui dépasse le cercle */
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}

