<app-story></app-story>



<app-publication-form [config]="configg"></app-publication-form>

<hr>
  <ng-container *ngFor="let item of publicationService.list$()">
    <div class="friends_post">

      <div class="friend_post_top">

        <div class="img_and_name">

          <img src="assets/image/user.jpg">

          <div class="friends_name">
            <ng-container *ngIf="profilService.Detail$() as profil">
            <p class="friends_name">
              {{item.credential_id.username}}
            </p>
            </ng-container>
            <p class="time">{{item.date_de_publication}}<i class="fa-solid fa-user-group"><fa-icon [icon]="faUserGroup"></fa-icon></i></p>
          </div>


        </div>

        <div class="menu">

          <i class="fa-solid fa-ellipsis"><fa-icon [icon]="faTrashCan"></fa-icon></i>

        </div>

      </div>
      <p>{{item.contenu}}</p>
      <img src="assets/image/post.jpg">

      <div class="info">

        <div class="emoji_img">
          <img src="assets/image/like.png">
          <img src="assets/image/haha.png">
          <img src="assets/image/heart.png">
          <p></p>
        </div>

        <div class="comment">
          <p>421 Comments</p>
          <p>1.3K Shares</p>
        </div>

      </div>

      <hr>

      <!-- Ajouté un paramètre à la méthode postLike(id_publication) -->

      <div class="like" (click)="postLike(String(item.id_publication), '')">

        <div class="like_icon">
          <i class="fa-solid fa-thumbs-up activi"><fa-icon [icon]="faThumbsUp"></fa-icon></i>
          <p>Like</p>
        </div>


        <div class="like_icon">
          <i class="fa-solid fa-message"><fa-icon [icon]="faMessage"></fa-icon></i>
          <p>Comments</p>
        </div>

        <div class="like_icon">
          <i class="fa-solid fa-share"><fa-icon [icon]="faShare"></fa-icon></i>
          <p>Share</p>
        </div>

      </div>
      <hr>

      <div class="comment_warpper">

        <img src="assets/image/user.jpg">
        <div class="circle"></div>

        <div class="comment_search" [formGroup]="confi.formGroup">
          <ng-container *ngFor="let field of confi.fields">
          <input [type]="field.inputType" [formControl]='field.control' [placeholder]="field.placeHolder">
          <i class="fa-regular fa-face-smile"><fa-icon [icon]="faFaceSmile"></fa-icon></i>
          <i class="fa-solid fa-camera"><fa-icon [icon]="faCamera"></fa-icon></i>
          <i class="fa-regular fa-note-sticky"><fa-icon [icon]="faNoteSticky"></fa-icon></i>
          </ng-container>
          <button (click)="postComment(String(item.id_publication))">Post</button>
        </div>

        </div>

      <ng-container *ngIf="commentService.listt$() !== null; else noComments">
        <div *ngFor="let itemm of commentService.listt$()">
          <div class="commentt" *ngIf="itemm.id_publication.id_publication === item.id_publication">
            <div class="user-info">
              <img src="assets/image/user.jpg" alt="User Avatar">
              <span class="username">{{ itemm.credential_id.username }}</span>
              <p class="comment-date"> ·
                 {{ calculateTimeElapsed(itemm.date_du_commentaire) }}</p>
            </div>
            <p class="comment-text">{{ itemm.contenu }}</p>


            <div class="like" (click)="postLike('',String(itemm.id_commentaire))">
            <div class="like_icon">
              <i class="fa-solid fa-thumbs-up activi"><fa-icon [icon]="faThumbsUp"></fa-icon></i>
              <p>Like</p>
            </div>
              <div class="like_icon">
                <i class="fa-solid fa-message"><fa-icon [icon]="faMessage"></fa-icon></i>
                <p>Comments</p>
              </div>

              <div class="like_icon">
                <i class="fa-solid fa-share"><fa-icon [icon]="faShare"></fa-icon></i>
                <p>Share</p>
              </div>
            </div>

          </div>
        </div>
      </ng-container>

      <ng-template #noComments>
        <p>Aucun commentaire disponible.</p>
      </ng-template>


    </div>

  </ng-container>
  <!--  -->



