<app-story></app-story>



<app-publication-form></app-publication-form>

<hr>
  <ng-container *ngFor="let item of publicationService.list$()">
    <div class="friends_post">

      <div class="friend_post_top">

        <div class="img_and_name">

          <img src="assets/image/user.jpg">

          <div class="friends_name">
            <ng-container *ngIf="profilService.Detail$() as profil">
            <p class="friends_name">
              {{item.id_publication}}
            </p>
            </ng-container>
            <p class="time">{{item.date_de_publication}}<i class="fa-solid fa-user-group"><fa-icon [icon]="faUserGroup"></fa-icon></i></p>
          </div>


        </div>

        <div class="menu">

          <i class="fa-solid fa-ellipsis"><fa-icon [icon]="faEllipsis"></fa-icon></i>

        </div>

      </div>
      <p>{{item.contenu}}</p>
      <img src="assets/image/post.jpg">

      <div class="info">

        <div class="emoji_img">
          <img src="assets/image/like.png">
          <img src="assets/image/haha.png">
          <img src="assets/image/heart.png">
          <p>You, John Doe and 25K others</p>
        </div>

        <div class="comment">
          <p>421 Comments</p>
          <p>1.3K Shares</p>
        </div>

      </div>

      <hr>

      <div class="like">

        <div class="like_icon">
          <i class="fa-solid fa-thumbs-up activi"><fa-icon [icon]="faThumbsUp"></fa-icon></i>
          <p>Like</p>
        </div>


        <div class="like_icon">
          <i class="fa-solid fa-message"><fa-icon [icon]="faMessage"></fa-icon></i>
          <p>Comments</p>
        </div>

        <div class="like_icon">
          <i class="fa-solid fa-share"><fa-icon [icon]="faShare"></fa-icon></i>
          <p>Share</p>
        </div>

      </div>
      <hr>

      <div class="comment_warpper">

        <img src="assets/image/user.jpg">
        <div class="circle"></div>

        <div class="comment_search">

          <input type="text" placeholder="Write a comment">
          <i class="fa-regular fa-face-smile"><fa-icon [icon]="faFaceSmile"></fa-icon></i>
          <i class="fa-solid fa-camera"><fa-icon [icon]="faCamera"></fa-icon></i>
          <i class="fa-regular fa-note-sticky"><fa-icon [icon]="faNoteSticky"></fa-icon></i>

        </div>

      </div>

    </div>
  </ng-container>
  <!-- Ajoutez d'autres champs que vous avez dans votre objet PublicationPayload -->






